.dialog-box .message {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-text-fill: #243438;
    -fx-font-size: 14px;
    -fx-line-spacing: 1px;
}

.dialog-box.user-message {
    -fx-alignment: TOP_RIGHT;
}

.dialog-box.user-message .message {
    -fx-background-color: #d5efec;
    -fx-text-fill: #164b49;
}

.dialog-box.error-message .message {
    -fx-background-color: #fff0f0;
    -fx-border-color: #d95c5c;
    -fx-border-width: 0 0 0 4px;
    -fx-border-radius: 10px;
    -fx-text-fill: #8d2525;
}
